<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@900&display=swap');
</style>

</head>
<body style="margin:0px;">
<div style="width:100%;padding:1ex;background:url('https://www.fbi.gov/++theme++fbi-youtube-fix/images/fbibanner-frontpage.png') no-repeat center bottom;border:2px solid grey;">
<img src="https://www.fbi.gov/++theme++fbi-youtube-fix/images/fbi_seal_new.png" style="width:10%;">
    <span style="color:white;font-size:5ex;font-family: 'Inter', sans-serif;font-family: 'Roboto', sans-serif; font-weight:900;position:relative;top:-0.5ex;left:0.5ex;"><b>FBI</b></span>
    <span style="color:white;text-transform:uppercase;position:absolute;font-size:2ex;margin:0.9ex 2ex;">
        Federal Bureau<br/> of Investigation
    </span>
</div>

<br/>
<center>
<img src="https://www.fbi.gov/++theme++fbi-youtube-fix/images/fbi_seal_new.png" style="opacity:0.1;position:absolute;width:100%;left:0ex;">
</center>

<div style="padding:2ex;position:relative;top:10ex;">
   xsv dshihid hdihsi djbi
</div>




</body>
</html>